numba
opt-einsum
numpy   
absl-py
termcolor
matplotlib
ml-collections
cython<3
wandb
imageio
moviepy
opensimplex
pygame
libtmux
threadpoolctl
plotly
tabulate
tensorflow-cpu
# tensorflow-probability==0.22.0
tensorflow-probability
tensorflow-datasets
diffusers
fabric
opt-einsum
scipy
einops
jaxtyping

flax
optax
orbax
distrax
chex
typeguard
jax[tpu]==0.7.1
flax==0.11.1

typing_extensions
