numba
opt-einsum
numpy
absl-py
termcolor
matplotlib
ml-collections
cython<3
wandb
imageio
moviepy
opensimplex
pygame
libtmux
threadpoolctl
plotly
tabulate
tensorflow-cpu
tensorflow-probability
tensorflow-datasets
diffusers
fabric
opt-einsum
scipy
einops
jaxtyping

flax
optax
orbax
distrax
chex
